body{
    /* background-color: black; */

}

.bye{
    margin: 0 0 0 30px;
    background-color: gray;
    background-image: url(photos/back1.jpg);
    width: 95%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    word-spacing: 50px;
    padding: 30px 30px 30px 30px;
    

}
.dance{
    background-image: url(photos/back3.jpg);
    background-size: cover;
    height: 300px;
    width: 100%;
}
.container{
    padding: 30px;
    height: 300px;
}
form{
    width: 700px;
    margin: 150px 250px 500px 400px;
}
.left{
    margin: 0 0 10px 33%;
    display: inline-block;
}
.center{
    display: inline-block;
    margin: 0 0 0 10%;
}
.right{
    display: inline-block;
    margin: 0 0 0 10%;
}

h2{
    text-align: center;
}
