/* .head{
    background-size: cover;
    width: 100%;
    font-size: 50px;
     float: 50px;
     padding: 100px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
} */
/* .photo{
    margin: 50px 50px 0 25%;
    image-resolution: 50px ;
} */


*{
    margin: 0px;
    padding: 0px;
    box-sizing : border-box;
}
body{
    font-family: sans-serif;
}

.btn{
    border-radius: 8px;
}
.btn-primary,
.btn-outline-secondary{
    padding: #010101
}
.btn-primary{
    background-color: var(--primary);
}
.btn-primary:hover{
    background-color: var(--primary-dark);
}

.btn-outline-secondary{
    border: 1px solid var(--gray-2);       
    color: var(--black);
}

.btn-outline-secondary:hover{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);       
    color: var(--black);
}

.navbar .btn-outline-secondary{
    
    box-shadow: 0 0 20px red;
    color: green;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar{
    margin: 0 0 0 30px;
    width: 95%;
    border: 5px solid green;
    box-shadow: 0 0 20px green;
    padding: 32px 0;
}
.nav-link{
    margin-left:41px;
    font-size:16px;
    color:white;
}
.nav-link:hover{
    box-shadow: 0 0 40px green;
transform: scale(1.10);

}
.navbar-nav  .nav-link.active{
    font-weight: bold;
        color: green;
}

section.hero{
    padding: 50px 0;
}
.row .text{
    text-shadow: 0 0 25px yellow;
}
section.hero,  .text{
    margin: 80px 0px 0px 25px;
    font-weight: 800;
    font-size: 48px;
    line-height: 73px;
    color: var(--black);
}

.buttons{
    padding-top: 69px;
}

.buttons .btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

}

section.setup{
    padding: 28px 0;

}
section.setup .col-md-4{
    /* border: 5px solid red; */
    box-shadow: 0 0 25px red;
}

.hero img{
    border-radius: 45px;

}
section.setup .text-header  h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color:green;
}

section.setup .text-header  p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color:green;
    padding:27px 0;
}
section.setup .icons{
    padding: 27px 0;
}
section.setup h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: yellowgreen;
    padding-bottom:18px;
}
.section.setup .desc p{
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: yellow;
    max-width: 284px;
    margin: 0 auto;
}





.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    border: 8px solid green;
    box-shadow: 0 0 25px green;

}
.about-us img{
    flex: 0 50%;
    max-width: 50%;
    height: 300px;
    
     box-shadow: 0 0 25px green;
    margin: 0 0 0 25px;


}
.content{
    padding:35px;

}
.content h2{
    font-size: 24px;
    margin: 15px 0px ;
    text-align: center;
}
.content p{
    background-color: gray;
    color: black;
        font-size:18px;
        line-height: 1.5;
        margin: 15px 0px;
        box-shadow: 0 0 25px green;
        padding: 25px;
}

.read-more-btn{
    display:inline-block;
    color: green;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size:18px;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 0 25px green;
}

.read-more-btn:hover{
    background-color: pink;
    color:red ;
    transform: scale(1.08);
}
@media(max-width:768px){
    .about-us{
        flex-direction: column;
    }   
    .about-us img{
        flex:0 100%;
        max-width: 100%;
    }
    .content{
        flex:0 100%;
        max-width: 100%;
        padding: 15px;

    }
}




.about-item{
    
    margin-bottom: 20px;
    margin-top:20px;
    background-color: grey;
    padding: 40px;
    border: 8px solid green;
    box-shadow: 0 0 35px green;

}
.about-item i{
    font-size: 43px;
    margin: 0;
}

.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    margin: 0 auto;
    border: none;
}
.about-item p{
    margin-top: 20px;

}
.about-item:hover{
    background-color: green;
    border: 8px solid blue;
    box-shadow: 0 0 25px green;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}

.about-item:hover hr{
    background-color:#fff;
}
.about-item:hover i{
    transform:translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}
footer{
    background: #212226;
    padding: 20px;
}
footer p{
    color:#fff;

}

.main2{
    height: 700px;
}
.walk{
    margin:30px;
}
.logo{
    margin: 00px 15px 15px 55px;
float: left;
 color: white;
}
.bye{
    word-spacing: 0px;
    float:right ;
    width: 60%;
    

}
a{
    margin: 10px 10px 10px 50px;
}
/* .byee{
    height: 350px;
    background-color: pink;
    font-size:50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 100px;
} */
.dance{
    background-size: cover;
    height: 300px;
}

.img{
        margin: 70px 150px 150px 320px;
        display: flex;
}

.hello{
    margin: 100px 10px 100px 10px;
}
.photo1{
    border: 2px solid black;
    height:350px;
    width: 350px;
    display: inline-block;
    margin: 10px 0 0 12%;

}
/* h1{
    text-align: center;
    border: 3px solid brown;
    padding: 10px;
    border-radius: 20px;
} */

.icon{
    position: absolute;
    top:50px
}

.icon ul li{
    list-style:none;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-color: #ee5253;
    display: none;
}

.card:hover  .icon ul li{
    display: inline-block;
    transition: 2s;
}

.icon ul li a{
    color: #fff;

}

.rating{
    margin: 10px 10px 10px 90px;
    color: #ff9f43;
    font-size: 12px;
}
.product-name  {
    font-size: 20px;
    color: #10ac84;
    text-align: center;
    font-weight: 900;
}

hr{
    width: 100%;
    margin: auto;
    color: #10ac84;
    border: none;
    border-top:3px solid #222;
}

.add-to-card-btn{
    box-shadow: 0 0 25px #10ac84;
    border:5px solid #10ac84;
    color: #10ac84;
    font-size: 20px;
width: 100%;
border-radius: 5px;
}

.add-to-card-btn:hover{
    
    transform: scale(1.02);
    transition: 1s;
}
.price{
    text-align: center;
    font-size: 25px;
    color: #10ac84;
    font-weight: 900;
    margin-bottom:10px;
}

.card{
    border: px solid #ccc;
    border-radius:10px;
}
.card:hover{
    box-shadow:0 0 3px #ccc;
    transform: scale(1.05);
    transition: 1s;
}



.text-success{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}
img{
max-width: 100%;
}
.galleryy{
    background-color: black;
    padding:80px 0;
}
.gallery img{
    background-color: white;
    padding: 15px;
    width: 100%;
    border: 8px solid blue;
    box-shadow: 0 0 15px blue;
    cursor: pointer;
}
.gallery-modal  .modal-img{
    width: 100%;
}
.photo2{
    margin: 0 0 0 5%;
    border: 2px solid black;
    height:350px;
    width: 350px;
    display: inline-block;

}
.photo3{
    margin: 0 0 0 5%;

    display: inline-block;
    border: 2px solid black;
    height:350px;
    width: 350px;
}
.left{
    margin: 0 0 10px 33%;
    display: inline-block;
}
.center{
    display: inline-block;
    margin: 0 0 0 10%;
}
.right{
    display: inline-block;
    margin: 0 0 0 10%;
}

.container2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    border: 8px solid blue;
    box-shadow: 0 0 55px blue;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
/* form h3{
    color: Green;
        font-weight: 800;
        margin-bottom: 20px;

} */
form input,  form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    background:none;
    font-size: 16px 0;
    background-color: #eaeaea;
    width: 450px;
}
form button{
    padding: 15px;
    background-color: blue;
    color: red;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    box-shadow: 20px black;
}
form button:hover{
    transform: scale(1.08);
    transition-duration: 0.5;
    color: white;
    border: white;
}
.input-field i{
    margin-left: 15px;
    color: #999;
  
  }
  .input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
  }

  .container3{
    height: 500px;
    width: 90%;
    background-color: aliceblue;
    border: 10px solid blue;
    margin: 10px 0 0 80px;
  }
  .container3  .pic{
    margin: 80px 20px 10px 10%;
  }
